<?xml version="1.0"?>
<document>

  <properties>
    <author email="rubys@us.ibm.com">Sam Ruby</author>
    <title>Gump</title>
  </properties>

<body>

  <section name="module">
    <p>A module is a collection of projects that are physically stored in a 
    single repository.</p>

    <table>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
        <th>Required?</th>
      </tr>
      <tr>
        <td>name</td>
        <td>The name of the module.</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>tag</td>
        <td>Override the <a href="#cvs">cvs</a> tag to be used.</td>
        <td>No</td>
      </tr>
    </table>

    <p/>

    <subsection name="url">
      <p>This is the homepage for the collection of projects contained in
      this module.  This element is optional, but if present, will be
      referenced in the generated web pages containing build results.</p>

      <p>Note: give the way that Gump uses href to specify definitions which
      are to be inlined, the design of this element is rather unfortunate.
      Perhaps it should be replaced with a &lt;home-page&gt; element.</p>

      <table>
        <tr>
          <th>Attribute</th>
          <th>Description</th>
          <th>Required?</th>
        </tr>
        <tr>
          <td>href</td>
          <td>URL of home page</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>srcdir</td>
          <td>The directory (relative to the workspace's basedir) which
          the checked out sources are to be copied for build purposes.</td>
          <td>No.  Defaults to the name of the module.</td>
        </tr>
      </table>
    </subsection>

    <subsection name="description">
      <p>If present, will contain information added to the title in web
      pages containing build results.</p>
    </subsection>

    <subsection name="cvs">
      <p>References the <a href="repository.html">repository</a> in which
      this project resides.  May also contain various overrides.</p>

      <p>Note: as the long term plans is to make Gump handle many different
      types of repository types, the name of this element should ultimately
      change</p>

      <table>
        <tr>
          <th>Attribute</th>
          <th>Description</th>
          <th>Required?</th>
        </tr>
        <tr>
          <td>repository</td>
          <td>The name of the repository in which this module resides.</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>host-prefix</td>
          <td>Additional information which will be added in the front of the
          host name.  Useful for repositories like sorceforge which define
          a separate virtual host for every project</td>
          <td>No</td>
        </tr>
        <tr>
          <td>dir</td>
          <td>The subdirectory in which the cvs module is present.  Useful
          for repositories like developerworks which organize related modules
          into directories.</td>
          <td>No</td>
        </tr>
        <tr>
          <td>module</td>
          <td>An override for the name of the cvs module.</td>
          <td>No.  Defaults to the name of the module.</td>
        </tr>
        <tr>
          <td>tag</td>
          <td>Specify the cvs tag desired.</td>
          <td>No.  Effectively defaults to HEAD.</td>
        </tr>
        <tr>
          <td>compress</td>
          <td>Set the compression level.  Some CVS client/server combinations 
            will not work with compression.</td>
          <td>No.  Defaults to the compress value for the repository</td>
        </tr>
      </table>
    </subsection>

    <subsection name="svn">

      <p>References a <a href="http://subversion.tigris.org">Subversion</a> 
      repository in which this project resides.</p>

      <table>
        <tr>
          <th>Attribute</th>
          <th>Description</th>
          <th>Required?</th>
        </tr>
        <tr>
          <td>url</td>
          <td>The url of the repository in which this module resides.</td>
          <td>Yes</td>
        </tr>
      </table>

      <p>For example:</p>
          <source><![CDATA[
  <svn url="http://svn.collab.net/repos/svn/trunk" />
]]></source>    
    </subsection>

    <subsection name="project">
      <p>A definition of a <a href="project.html">project</a> which is
      physically contained in this module.</p>
    </subsection>

    <subsection name="redistributable">
      <p>If present, indicates that outputs of builds from this module
      are redistributable.  Defaults to the redistributable value for
      the repository.</p>
    </subsection>
  </section>
</body>
</document>

