# not used atm..
[loggers]
keys=root,engine,modeller,walker,plugin,plugin_dynagumper,plugin_logger,util_db

[handlers]
keys=stdout,filehandler

[formatters]
keys=simple,fileformatter

[logger_root]
level=DEBUG
handlers=stdout,filehandler
propagate=0

[logger_engine]
level=DEBUG
handlers=stdout,filehandler
propagate=0
qualname=engine

[logger_modeller]
level=DEBUG
handlers=stdout,filehandler
propagate=0
qualname=modeller

[logger_walker]
level=INFO
handlers=stdout,filehandler
propagate=0
qualname=walker

[logger_plugin]
level=DEBUG
handlers=stdout,filehandler
propagate=0
qualname=plugin

[logger_util_db]
level=DEBUG
handlers=stdout,filehandler
propagate=0
qualname=util.db

[logger_plugin_error-handler]
level=DEBUG
handlers=stdout,filehandler
propagate=0
qualname=plugin.error-handler

[logger_plugin_dynagumper]
level=DEBUG
handlers=stdout,filehandler
propagate=0
qualname=plugin.dynagumper

[logger_plugin_logger]
level=DEBUG
handlers=stdout,filehandler
propagate=0
qualname=plugin.logger

[logger_plugin_builder]
level=DEBUG
handlers=stdout,filehandler
propagate=0
qualname=plugin.builder

[handler_stdout]
level=DEBUG
class=StreamHandler
formatter=simple
args=(sys.stdout,)

[handler_filehandler]
level=DEBUG
#class=TimedRotatingFileHandler
class=FileHandler
formatter=fileformatter
args=('work/log/run.log', 'w')
#args=('work/log/run.log', 'W', '0', 10)

[formatter_simple]
format=%(levelname)s - %(message)s

[formatter_fileformatter]
format=%(levelname)s [%(name)s] %(asctime)s: %(pathname)s:%(lineno)d: %(message)s
datefmt=%Y-%m-%d@%H:%M:%S
