
body, td
{
    margin: 3;
    padding: 3;
    font-family: Verdana, Tahoma, Helvetica, Sans-Serif;
    font-size: 12px;
}

img
{
    border: 0 
}

a 
{
    font-weight: bold;
    color: #021DC5;
}

a:hover
{
    color:#C50202;
}

hr 
{ 
    color: #8EB4D9; 
    height: 1px; 
    text-align: center; 
    width: 100%; 
    position: relative;
}

table.TRANSPARENT
{
    width: 100%;
    border: 0px;
}

table
{  
    border: solid;
    border-width: 1px;
    border-color: black;
    width: 100%;
    border-collapse: collapse;
}

th, td
{ 
    text-align: left; 
    vertical-align: top; 
    margin: 0px;
    border: 0px;
    padding: 1px;
} 

th 
{
    border-bottom: 1px solid black;
    padding: 3px 1px 3px 1px;
}

    
/* Annotations */

.DEBUG
{
    background-color: #E5E5E5; 
}

.INFO
{
}

.WARNING
{
    background-color: #E5DAB8
}

.ERROR
{
    background-color: #E5B8B8;
}

/* Note and Warning boxes, (WARN from above) */

.NOTE
{
    background-color: #B8D6E5
}              

.WARN
{
    background-color: #E5DAB8
}

/* State */

.SUCCESS
{
    background-color: #CFE5B8
}

.FAILED
{
    background-color: #E5B8B8; 
}

.PREREQFAILED
{
    background-color: #E5DAB8
}

.COMPLETE
{
    background-color: #B8D6E5
}

.UNSET
{
    background-color: #E5E5E5 
}
