<module name="checkstyle">

  <url href="http://checkstyle.sourceforge.net/"/>
  <description>
    Java style checker
  </description>
  
  <cvs repository="sourceforge" host-prefix="cvs.checkstyle" dir="checkstyle"/>

  <project name="checkstyle">
    <package>com.puppycrawl.tools.checkstyle</package>
  
    <mkdir dir="classes/checkstyle"/>
    <ant target="gump">
      <property name="version" value="@@DATE@@"/>
    </ant>

    <depend project="jakarta-ant"/>
    <depend project="xml-xerces"/>
    <depend project="xml-xalan2"/>
    <depend project="junit"/>
    <depend project="antlr" inherit="jars"/>
    <depend project="jakarta-regexp" inherit="jars"/>
    <work nested="classes/checkstyle"/>
    <work nested="classes/tests"/>

    <jar name="dist/checkstyle-@@DATE@@/checkstyle-@@DATE@@.jar"/>
  </project>
</module>
